body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(156, 46, 224, 0.575); 
}

.box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 30px;
        border-radius: 15px;
        width: 15%;
}
h1{
    color: white;
}

#imagem1{
        position: relative;
        left: 70px;
        top: -490px;
}
.inputbox {
    position: absolute;
  }

.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
}
    

#submit{
    background-color: rgba(156, 46, 224, 0.575);
   width: 100%;
   border: none;
   border-radius: 10px;
   padding: 15px;
   color: white;
   font-size: 15px;
   cursor: pointer;   
   margin-top: 1rem;
}
#submit:hover{
    background-color: rgba(154, 106, 186, 0.872);
}

 #email{
    color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(176, 88, 200, 1);
    outline: none;
}
 #senha{
    color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(176, 88, 200, 1);
    outline: none;  
}

    